.card {
    background-color:#D9E8FC;
    border-radius: 4px;
    padding: 20px;
    min-width: 200px;
    max-width: 30%;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 5px rgb(237, 233, 233);
    }
}

.title {
    font-weight: 600;
}
 
.tags {
    margin: 10px 0 20px 0;
}

.content {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > div {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}